﻿@model BusinessLogicLayer.DTO.HeroDto

@{
    ViewData["Title"] = "Delete";
}

<h1>Удаление</h1>

<h3>Вы уверены, что хотите удалить героя?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Health)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Health)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovePoints)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovePoints)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Force)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Force)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agility)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agility)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Intelligence)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Intelligence)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LevelId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Level.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RaceId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Race.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocationId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsBlocked)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsBlocked)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
