﻿@model BusinessLogicLayer.DTO.GameDto

<div class="chat"></div>
<script src=~/js/signalr.min.js></script>
<script>
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl('/chat')
        .build();
    var userName = "@Model.User.UserName";

    hubConnection.on("Send", function (data) {
        let elem = document.createElement("p");
        elem.appendChild(document.createTextNode(data));
        elem.className = "message";
        document.getElementsByClassName("chat")[0].appendChild(elem);
    });

    hubConnection.on("GetId", function () {
        hubConnection.invoke("TakeId", "@Model.User.Id");
    });

    function TakeMsg() {
        let msg = userName + ": " + document.getElementById("msg").value;
        hubConnection.invoke("Send", msg);
        document.getElementById("msg").value = '';
    }

    hubConnection.start();
</script>
