﻿@model BusinessLogicLayer.DTO.GameDto

<script src=~/js/signalr.min.js></script>
<script>
    let hubUrl = '/test';
        const hubConnection = new signalR.HubConnectionBuilder()
                                         .withUrl(hubUrl)
                                         .build();
    hubConnection.start();
    /*window.addEventListener('load', function (event) {
            hubConnection.invoke("Find").catch(function (err) {
                return console.error(err.toString());
            });
    });*/

    hubConnection.on("Wait", function () {
        console.log("Pachet");
    });

    
</script>
