﻿@model BusinessLogicLayer.DTO.GameDto

@{
    ViewData["Title"] = "Index";
}

<div class="grid">
    <div class="game" style="background-image: url(@Model.CurrentLocation.Path)">
        @foreach (var map in Model.Map)
        {
            if (map.IsClicable)
            {
                <div style="grid-column: @map.Y; grid-row: @map.X; background-image: url(/img/@Model.Map[0].Name); border-radius: 0px; border: 0px;">
                    <input type="image" src="/img/@map.Name" width="50%" height="50%"/>
                </div>
            }
            else
            {
                <div style="grid-column: @map.Y; grid-row: @map.X; background-image: url(/img/@map.Name); border-radius: 0px; border: 0px;">
                </div>
            }
        }
        <div class="photo"><img src="~/img/ava.jpg" width="100%" height="100%" /></div>
        <div class="exp">@Model.Hero.Experience/1945</div>
        <div class="hp">@Model.Hero.Health</div>
        <div class="name">@Model.Hero.Name</div>
        <div class="money"></div>
        <div class="routs">
            <p>@Model.CurrentLocation.Name</p>
            @foreach (var item in Model.NextLocations)
            {
                <p>
                    @Html.ActionLink(item.Name, "Index", new { locationId = item.Id })
                </p>
            }
        </div>
        <div class="idontknowwhatisthis">
            <input type="button" id="sendBtn" onclick="TakeMsg();" value="Отправить" />
            <input type="text" id="msg" name="mesinput" class="textmessage" />
        </div>
        <div class="stats"></div>
        <div class="quests"></div>
        <div class="map"></div>
        <div class="shop"></div>
        <div class="inventory"></div>
        <div class="arena"><a asp-action="Battle">Бой</a></div>

    </div>
    @{await Html.RenderPartialAsync("_Chat", Model);}
    <div class="friends">item-6</div>
</div>
<script>
    window.onload = removeClass;
    function removeClass() {
        var div = document.getElementsByClassName("container")[1];
        div.className = "";
    }
</script>
