﻿    <button id="find">Найти игру</button>
    <div id="info"></div>
    <div id="battleField">

    </div>
    <script src=~/js/signalr.min.js></script>
    <script>
        let hubUrl = '/battle';
        const hubConnection = new signalR.HubConnectionBuilder()
                                         .withUrl(hubUrl)
                                         .build();

        var clientId;

        document.getElementById("find").addEventListener('click', function (event) {
            hubConnection.invoke("Find").catch(function (err) {
                return console.error(err.toString());
            });
        });

        hubConnection.on("Wait", function () {
            let elem = document.createElement("p");
            elem.appendChild(document.createTextNode("Вы в очереди, ожидайте."));

            document.getElementById("info").appendChild(elem);
        });

        hubConnection.on("GetId", function (id) {
            clientId = id;
        });

        hubConnection.on("Start", function (simpleBattle) {
            createField(simpleBattle.field);
            displayPlayer(simpleBattle.player1);
            displayPlayer(simpleBattle.player2);

            document.getElementById("info").style.display = "none";
        });

        hubConnection.on("GetDamage", function (player) {
            var id = "myInfo";

            if (clientId !== player.id) {
                id = "enemyInfo";
            }

            document.getElementById(id).innerHTML = "<small>" + player.health + " (" + player.name + ")" + "</small>";

            //displayPlayer(player);
        });

        function createField(field) {
            var battleField = document.getElementById("battleField");

            document.getElementById("info").style.display = "none";
            document.getElementById("find").style.display = "none";

            for (var i = 0; i < field.field.length; i++) {
                for (var j = 0; j < field.field[i].length; j++) {
                    let div = document.createElement("div");

                    div.style.gridColumn = j + 1;
                    div.style.gridRow = i + 1;

                    div.style.gridTemplateColumns = "1fr";
                    div.style.gridTemplateRows = "1fr";
                    div.style.borderRadius = "5px";
                    div.style.backgroundImage = "url(/img/grass.png)";

                    div.id = j + ";" + i;
                    div.addEventListener("click", function (event) {
                        var y = event.target.style.gridColumn;
                        var x = event.target.style.gridRow;
                        console.log(y + " " + x);
                        hubConnection.invoke("MakeTurn", clientId, x, y).catch(function (err) {
                            return console.error(err.toString());
                        });
                    });

                    battleField.appendChild(div);
                }

            }
        }

        function displayPlayer(player) {
            var x = player.coordinate.x;
            var y = player.coordinate.y;

            var parentDiv = document.getElementById(x + ";" + y);

            var input = document.createElement("input");
            input.type = "image";
            input.src = "/img/" + player.imgPath;
            input.name = player.id;

            input.addEventListener("click", function (event) {

                hubConnection.invoke("Attack", clientId).catch(function (err) {
                    return console.error(err.toString());
                });

                event.preventDefault();
            });

            var pId = "enemyInfo";

            if (player.id === clientId) {
                pId = "myInfo";
                input.disabled = true;
            }

            var info = document.createElement("h6");
            info.id = pId;
            info.innerHTML = "<small>" + player.health + " (" + player.name + ")" + "</small>";

            if (player.id !== clientId) 
                input.id = "attackButton";

            parentDiv.appendChild(info);
            parentDiv.appendChild(input);
        }

        hubConnection.start();
    </script>