﻿@model BusinessLogicLayer.DTO.GameDto

@{
    ViewData["Title"] = "TestView";
}

<h1>TestView</h1>

<div>
    <h4>GameDto</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    @{await Html.RenderPartialAsync("_Test", Model);}
</div>
