﻿body {
   /* background: url(/img/back.jpg);*/
}

.grid {
    display: grid;
    /*grid-template: 30% 70% 30% /;*/
    grid-template-columns: 15% 69% 15%;
    grid-template-rows: 1fr;
    grid-gap: 5px;
}

.grid div.game {
    height: 95%;
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template: repeat(20, 1fr) / repeat(30, 1fr);
    background-repeat: no-repeat;
    background-size: 100%;
}

#battleField {
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(12, 1fr);
}

.grid div.chat {
    height: 95%;
    grid-column: 1;
    grid-row: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

.grid div.friends {
    height: 95%;
    grid-column: 3;
    grid-row: 1;
}

.grid div {
    background-color: #28314E;
    border: 1px solid #212941;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
}

    .grid div:nth-child(odd) {
        background-color: #475477;
    }

.game div.photo {
    grid-column: 1/3;
    grid-row: 1/4;
}

.game div.exp {
    grid-column: 3/10;
    grid-row: 1;
    background-color: #141be3;
    text-align: center;
}

.game div.hp {
    grid-column: 3/8;
    grid-row: 2;
    background-color: #b00511;
    text-align: center;
}

.game div.name {
    grid-column: 3/6;
    grid-row: 3;
    background-color: #7a2805;
    text-align: center;
}

.game div.money {
    grid-column: 24/31;
    grid-row: 1;
    background-color: #dcf72d;
    text-align: center;
}

.game div.routs {
    grid-column: 28/31;
    grid-row: 2/9;
    background-color: #080807;
    overflow-y: scroll;
}

.game div.arena {
    grid-column: 29/31;
    grid-row: 19/21;
    background-color: #bf6c30;
}

.game div.map {
    grid-column: 27/29;
    grid-row: 19/21;
    background-color: #bf6c30;
}

.game div.shop {
    grid-column: 25/27;
    grid-row: 19/21;
    background-color: #bf6c30;
}

.game div.inventory {
    grid-column: 5/7;
    grid-row: 19/21;
    background-color: #bf6c30;
}

.game div.quests {
    grid-column: 1/3;
    grid-row: 19/21;
    background-color: #bf6c30;
}

.game div.stats {
    grid-column: 3/5;
    grid-row: 19/21;
    background-color: #bf6c30;
}

.message {
    border: 1px solid #efefef;
    background-color: #ebc8b0;
    border-radius: 5px;
    color: #1a1715;
    font-size: 15px;
    font-family: fantasy;
}

.routs button {
    width: 100%;
}

.routs p {
    text-align: center;
}

.game div.idontknowwhatisthis {
    grid-column: 7/25;
    grid-row: 20/21;
    background-color: #733320;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(9, 1fr);
}

.textmessage {
    border: 1px solid #efefefef;
    background-color: #ebc8b0;
    border-radius: 5px;
    grid-column: 2/10;
}

.descr {
    display: none;
    margin-left: -350px;
    padding: 10px;
    margin-top: 17px;
    background: #f3f3f3;
    height: 50px;
    -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

#attackButton:hover .descr {
    display: block;
    position: absolute;
    top: 120px;
    z-index: 9999;
    width: 100px;
}